<div ng-cloak>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <!--directive: start--><% if(createDirective) { %><h6 <%=directiveKebabCased%>></h6><% } %><!--directive: end-->
      <h6 class="text-right" ng-bind="controllerMessage"></h6>

      <h1 class="text-capitalize text-center" data-translate="<%=navElementTranslationPart%>.title">Title</h1>

      <h5 class="text-center" data-translate="<%=navElementTranslationPart%>.subtitle">Subtitle</h5>

      <hr/>

      <p class="text-justify" data-translate="<%=navElementTranslationPart%>.content">
        Content
      </p>

    </div>
    <div class="col-md-1"></div>
  </div>
</div>
